@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#eb8629;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:0.5rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    size: 10px;
}
.btneducation{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    size: 10px;
}


.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:15rem;
    margin-top: 1rem;
    width:15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
    animation: animate 3s linear infinite;

}

header .user .name{
    font-size: 2.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:focus{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#56b9da;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 32, 0.655),
        rgba(39, 39, 40, 0.5)
      ), url("./myimg/3660.jpg");    
      background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
    font-weight: bold;

}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    font-weight: bold;
}
.about{
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 32, 0.655),
        rgba(39, 39, 40, 0.5)
      ), url("./myimg/2207_w026_n002_2269b_p1_2269.jpg"); 
      background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;

}
.about .row1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
   
}

.about .row1 .info{
    flex:1 1 35rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row1 .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row1 .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row1 .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.info img{
    width: 33rem;

    margin-bottom: 1rem;
    border:.3rem solid var(--yellow);


}
.education{
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 32, 0.655),
        rgba(39, 39, 40, 0.5)
      ), url("./myimg/2206_w054_n005_51b_p1_51.jpg"); 
      background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

/**
.education .box-container .box h3{
    font-size: 2.2rem;
    color:#fff;
    padding-top: 1.5rem;
}
--**/
.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}
.portfolio{
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 32, 0.655),
        rgba(39, 39, 40, 0.5)
      ), url("./myimg/2201_w023_n001_1649b_p1_1649.jpg"); 
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center top;
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .boxport{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .boxport img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .boxport:hover img{
    transform: scale(1.2);
}
.contact{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 32, 0.655),
        rgba(39, 39, 40, 0.5)
      ), url("myimg/แมนโบยบิน.jpg");    
      background-size: auto 120vh;
      background-repeat: no-repeat;

    background-position: left ;
}
.contact a{
    color: white;
    font-weight: bold;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    transform: capitalize;
}


.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: bold;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){
    
   
    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row1 .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .boxport{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }
 .port-preview{
    position: fixed;
    top:0; 
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .port-preview .preview{
    display: none;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 80rem;
    border-radius:2rem;
 }
 
 .port-preview .preview.active{
    display: inline-block;
 }
 
 .port-preview .preview img{
    height: 20rem;
    width: 30rem;
 }
 
 .port-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .port-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .port-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .port-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .port-preview .preview .stars i{
    color:#27ae60;
 }
 
 .port-preview .preview .stars span{
    color:#999;
 }
 
 .port-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .port-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
 }
 
 .port-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .port-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .port-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .port-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .port-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
    .port-preview .preview{
        width: 40rem;
    }
    .port-preview .preview h3{
       font-size: 1.5rem;
    }
    .port-preview .preview img{
       height: 10rem;
       width: 20rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }
 .bottomright {
    bottom: 8px;
  right: 16px;
   
  }
